<%= form_for( [@skill, @intent] ) do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= label_tag :name %>
      <%= text_field_tag :name, @intent.attrs.try(:[], 'name') %><br><br>

      <%= label_tag :description %><br>
      <%= text_area_tag :description, @intent.attrs.try(:[],'description') %><br><br>
    </div>
    <% if Intent.find_by( id: @intent.id ) %>
      <div class="col-xs-12 col-md-6">
        <br>
        <%= link_to(
          'Edit Fields',
          fields_page_path( @skill, @intent ),
          class: 'btn lg black'
        ) %>
        <%= link_to(
          'Edit Dialogs',
          dialogs_page_path( @skill, @intent ),
          class: 'btn lg black'
        ) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= submit_tag(
        Intent.find_by( id: @intent.id ) ? 'Update' : 'Create' , class: 'btn md black'
      ) %>
    </div>
  </div>
<% end %>
