<%= form_tag "/skills/#{@skill.id}/intents/#{@intent['name']}" do %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= label_tag :name %>
      <%= text_field_tag :name, @intent['name'] %><br><br>

      <%= label_tag :description %><br>
      <%= text_area_tag :description, @intent['description'] %><br><br>
    </div>
    <% if IntentManager.find_by( @intent['name'] ) %>
      <div class="col-xs-12 col-md-6">
        <br>
        <%= link_to(
          'Edit Fields',
          fields_page_path( @skill, @intent['name'] ),
          class: 'btn lg black'
        ) %>
        <%= link_to(
          'Edit Dialogs',
          dialogs_page_path( @skill, @intent['name'] ),
          class: 'btn lg black'
        ) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= submit_tag(
        IntentManager.find_by( @intent['name'] ) ? 'Update' : 'Create' , class: 'btn md black'
      ) %>
    </div>
  </div>
<% end %>
