<%= form_for( [@skill, @intent] ) do |f| %>
  <%= render partial: 'lock' %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= label_tag :name %>
      <%= text_field_tag :name, @intent.name %><br><br>

      <%= label_tag :description %><br>
      <%= text_area_tag :description, @intent.description %><br><br>
    </div>
    <% if Intent.find_by( id: @intent.id ) %>
      <div class="col-xs-12 col-md-6">
        <br>
        <%= link_to(
          @intent.entities.count > 0 ? 'Edit Fields' : 'Add Fields',
          fields_page_path( @skill, @intent ),
          class: 'btn lg black'
        ) %>
        <%= link_to(
          Dialog.where(intent_id: @intent.id).count > 0 ? 'Edit Dialogs' : 'Add Dialogs',
          dialogs_page_path( @skill, @intent ),
          class: 'btn lg black'
        ) %>
      </div>
    <% end %>
  </div>
  <% if !locked_by_other_user? %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= submit_tag(
          Intent.find_by( id: @intent.id ) ? 'Update' : 'Create' , class: 'btn md black'
        ) %>
      </div>
    </div>
  <% end %>
<% end %>
