<%= form_for [ @skill, @intent ] do |f|%>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name %><br><br>

      <%= f.label :description %><br>
      <%= f.text_area :description %><br><br>
    </div>
    <% if !@intent.new_record? %>
      <div class="col-xs-12 col-md-6">
        <br>
        <%= link_to(
          @intent.entities.any? ? 'Edit Fields' : 'Add Fields',
          fields_page_path( @skill, @intent ),
          class: 'btn lg black'
        ) %>
        <%= link_to(
          Dialog.for( @intent ).any? ? 'Edit Dialogs' : 'Add Dialogs',
          dialogs_page_path( @skill, @intent ),
          class: 'btn lg black'
        ) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.submit @intent.new_record? ? 'Create' : 'Update', class: 'btn md black' %>
    </div>
  </div>
<% end %>
