<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path(@skill),
  class: "btn md grey"
) %>
<br><br>

<div class="row">
  <div class="col-md-3">
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class="col-md-3">
    <strong>Intent:</strong> <%= @intent.name %>
  </div>
  <div class="col-md-6">
    <strong>Web Hook:</strong> <%= @skill.web_hook %>
  </div>
</div>
<hr class="margin0">

<table class='dialogs'>
  <tr>
    <th>ID</th>
    <th>AneedA Says</th>
    <th>Rules</th>
    <th>Awaiting Field</th>
    <th><th>
  </tr>
</table>

<br><br>


<form class='dialog' method='post' action='<%= submit_dialogs_path %>'>
  <strong>Aneeda Says:</strong>
  <br>
  <input type='hidden' name='intent_id' value='<%= @intent.name %>'>
  <input class='aneeda-says' name='response' type='text'> ex: "Please log into your account."
  <br><br><br>

  
  <table class='dialog'>
    <tr>
      <th>Field</th><th>Condition</th><th>Value</th>
    </tr>
    <tr>
      <td>
        <select class="dialog-select" name='field'>
          <% @fields.each do |field| %>
            <option value='<%= field %>'><%= field %></option>
          <% end %>
        </select>
      </td>
      <td>
        <select class="dialog-select" name='condition'>
          <option value='unresolved'>is unresolved</option>
          <option value='missing'>is missing</option>
          <option value='present'>is present</option>
        </select>
      </td>
      <td>
        <input class="dialog-input" name='value' type='text'>
      </td>
    </tr>
  </table>

  
  <strong>Awaiting Field</strong>
  <br>
  <select class="dialog-select" name='awaiting_field'>
    <% @fields.each do |field| %>
      <option value='<%= field %>'><%= field %></option>
    <% end %>
  </select>

  <br>
  <button class="btn lg ghost">Create Dialog</button>
</form>

<script>
var intent = <%= @intent.to_json.html_safe %>;

$(function() {
  initDialogs();
});
</script>
