<%= link_to(
  '&larr; Intents'.html_safe,
  edit_skill_intent_path(@skill, @intent),
  class: 'btn md grey'
) %>
<br><br>

<div class='row'>
  <div class='col-md-3'>
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class='col-md-3 text-center'>
    <strong>Intent:</strong> <%= @intent.name %>
  </div>
  <div class='col-md-6 text-center'>
    <strong>Web Hook:</strong> <%= @skill.web_hook %>
  </div>
</div><br>

<%= react_component(
  'Container',
  {
    intent_id: @intent.name,
    field_path: fields_page_path(@skill, @intent),
    fields: @fields
  }
) %>

<br>
<hr>

<div class='upload-dialogs row'>
  <div class='col-xs-2'>
    <h4>Upload Dialogs</h4>
    <%= form_tag do %>
      <input type='hidden' id='intent_id' value='<%= params[:id] %>' />
      <label class='btn btn-default btn-file'>
        Choose Files
        <input type='file' id='files' name='files[]' multiple />
      </label>
      <br>
      <br>
      <button class='lg btn black save-dialogs'>Upload</button>
      <br>
    <% end %>
  </div>
  <div class='col-xs-2 upload-files collapse'>
    <h4>Files to Upload</h4>
    <table class='table table-default upload-table'>
      <thead><th></th></thead>
      <tbody class='upload-table-data'></tbody>
    </table>
  </div>
  <div class='col-xs-8 result-section collapse'>
    <h4>Upload Results</h4>
    <table class='table table-default result-table'>
      <thead>
        <th>File</th>
        <th>Result</th>
      </thead>
      <tbody class='result-table-data'>
      </tbody>
    </table>
  </div>
</div>

<script>
  if (localStorage.length > 0) {
    $('.result-section').addClass('in');
    $.each(localStorage, function(key, value){
      $('.result-table-data').append(
        '<tr class="text-' +
        (value.match('uploaded') ? 'success' : 'danger')
        + '"><td>' + key + '</td><td>' + value + '</td></tr>'
      );

      localStorage.removeItem( key );
    });
  }

  $('#files').on('change', function(){
    $('.upload-files').addClass('in');

    if ($('.result-section').length > 0){
      $('.result-section').removeClass('in');
    }

    $.each(this.files, function(index, file){
      $('.upload-table-data').append( '<tr><td>' + escape(file.name) + '</td></tr>' );
    });
  });

  $('.save-dialogs').click(function(e){
    e.preventDefault();
    var files = $('#files')[0].files;

    $.each(files, function(index, file){
      var reader = new FileReader();
      reader.readAsText(file);

      reader.onloadend = (function(file) {
        return (function(e) {
          var fileName = file['name'];

          $.ajax({
            type: 'POST',
            url: '/api/process_dialog_upload',
            headers: {
                'Accept' : 'text/csv; charset=utf-8',
                'Content-Type': 'text/csv; charset=utf-8'
            },
            data: this.result
          }).done(function(r){
            var text = r['response'];
            localStorage.setItem( fileName, text );
          }).fail(function(r){
            var text = JSON.parse( r.responseText )['response'];
            localStorage.setItem( fileName, text );
          });
        });
      })(file);
    });

    location.reload();
  });
</script>

