<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path(@skill),
  class: "btn md grey"
) %>
<br><br>

<div class="row">
  <div class="col-md-3">
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class="col-md-3 text-center">
    <strong>Intent:</strong> <%= @intent.name %>
  </div>
  <div class="col-md-6 text-center">
    <strong>Web Hook:</strong> <%= @skill.web_hook %>
  </div>
</div><br>

<button class="btn lg ghost export-csv pull-right">Export CSV</button><br><br>

<hr class="margin0">
<table class='dialogs'>
  <tr>
    <th class="row5">&nbsp;ID</th>
    <th class="row10">Priority</th>
    <th class="row30">AneedA Says</th>
    <th class="row30">Rules</th>
    <th class="row10">Awaiting Field</th>
    <th class="row5"></th>
  </tr>
</table>

<div class="response-message"></div><br>

<div>
  <h4 class="inline">Fields</h4>
    <%= link_to(
      "Add a field",
      fields_page_path(@skill, @intent),
      class: 'addField btn md grey pull-right'
    ) %>
</div>

<form class='dialog' method='post' action='<%= submit_dialogs_path %>'>
  <input type='hidden' name='intent-id' value='<%= @intent.name %>'>
  <hr class="margin5050">

  <div class="row">
    <strong class="two columns margin0">Priority</strong>
    <input name='priority' type='number' class="three columns priority-input"><br><br>
  </div>

  <hr class="margin-15">

  <div class="row">
    <strong class="two columns margin0">Aneeda Says</strong>
    <input class='aneeda-says two columns' name='response' type='text' placeholder='ex: Please log into your account' ><br>
  </div>

  <div class="aneeda-says-error"></div>
  <hr class="margin0">

  <table class='dialog'>
    <tr>
      <td class='row16'>
        <strong>is unresolved</strong>
      </td>
      <td class='row40'>
        <%= select_tag(
          'unresolved-field',
          options_for_select( @fields ),
          { prompt:'', class: 'dialog-select' }
        ) %>
      </td>
      <td></td>
    </tr>

    <tr>
      <td class='row16'>
        <strong>is missing</strong>
      </td>
      <td class='row40'>
        <%= select_tag(
          'missing-field',
          options_for_select( @fields ),
          { prompt:'', class: 'dialog-select' }
        ) %>
      </td>
      <td></td>
    </tr>

    <tr>
      <td class='row16'>
        <strong>is present</strong>
      </td>
      <td class='row40'>
        <%= select_tag(
          'present-field',
          options_for_select( @fields ),
          { prompt:'', class: 'dialog-select' }
        ) %>
      </td>
      <td>
        <input class='dialog-input' name='present-value' type='text' placeholder='present value'>
      </td>
    </tr>
  </table>

  <div class='row'>
    <strong class='two columns margin0'>Awaiting Field</strong>
    <%= select_tag(
      'awaiting-field',
      options_for_select( @fields ),
      { prompt:'', class: 'awaiting-dialog-select two columns' }
    ) %>
  </div>

  <button class='btn lg ghost dialog-btn pull-right'>Create Dialog</button> &nbsp;
</form>

<script>
var intent = <%= @intent.to_json.html_safe %>;

$(function() {
  initDialogs();
  initCSVButton();
});
</script>
