<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path(@skill),
  class: "btn sm grey"
) %>
<br><br>

<div><strong>Skill Name:</strong> <%= @skill.name %></div>
<div><strong>Intent Name:</strong> <%= @intent.name %></div>
<div><strong>Web Hook:</strong> <%= @intent.web_hook %></div>
<br>

Dialogs<br>

<table class='dialogs'>
  <tr>
    <th>ID</th>
    <th>AneedA Says</th>
    <th>Rules</th>
    <th>Awaiting Field</th>
  </tr>
</table>

<br><br>


<form class='dialog' method='post' action='<%= submit_dialogs_path %>'>
  <strong>Aneeda Says:</strong>
  <br>
  <input type='hidden' name='intent_id' value='<%= @intent.name %>'>
  <input class='aneeda-says' name='response' type='text'> ex: "Please log into your account."
  <br><br><br>

  When the following fields are missing:
  <table class='dialog'>
    <tr>
      <th>Field</th><th>Condition</th><th>Value</th>
    </tr>
    <tr>
      <td>
        <select name='missing'>
          <% @fields.each do |field| %>
            <option value='<%= field %>'><%= field %></option>
          <% end %>
        </select>
      </td>
      <td>
        <select name='operation'>
          <option value='is missing'>is missing</option>
          <option value='has value'>has have</option>
        </select>
      </td>
      <td>
        <input class="field-input" name='value' type='text'>
      </td>
    </tr>
  </table>

  The user's response is passed to the awaiting field:
  <br>
  <br>
  <strong>Awaiting Field</strong>
  <br>
  <select name='awaiting_field'>
    <% @fields.each do |field| %>
      <option value='<%= field %>'><%= field %></option>
    <% end %>
  </select>

  <br>
  <button class="btn lg ghost">Create Dialog</button>
</form>

<script>
var intent = <%= @intent.to_json.html_safe %>;

$(function() {
  initDialogs();
});
</script>
