<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path(@skill),
  class: "btn md grey"
) %>
<br><br>

<div class="row">
  <div class="col-md-3">
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class="col-md-3">
    <strong>Intent:</strong> <%= @intent.name %>
  </div>
  <div class="col-md-6">
    <strong>Web Hook:</strong> <%= @skill.web_hook %>
  </div>
</div>
<hr class="margin0">

<table class='dialogs'>
  <tr>
    <th>ID</th>
    <th>AneedA Says</th>
    <th>Rules</th>
    <th>Awaiting Field</th>
    <th><th>
  </tr>
</table>

<div class="response-message"></div>
<br>

<form class='dialog' method='post' action='<%= submit_dialogs_path %>'>
  <strong>Aneeda Says:</strong>
  <br>
  <input type='hidden' name='intent-id' value='<%= @intent.name %>'>
  <input class='aneeda-says' name='response' type='text'> ex: "Please log into your account."
  <br>
  <div class="aneeda-says-error"></div>
  <br>

  <table class='dialog'>
    <tr>
      <th>Field</th><th></th><th></th>
    </tr>

    <tr>
      <td>
        <%= select_tag 'unresolved-field',
                        options_for_select( @fields ),
                        { prompt:'', class:"dialog-select" } %>
        <%= link_to(
          "Add a field",
          fields_page_path(@skill, @intent),
          class: 'addField'
        ) %>
      </td>
      <td>
        is unresolved  
      </td>
      <td>
      </td>
    </tr>

    <tr>
      <td>
        <%= select_tag 'missing-field',
                        options_for_select( @fields ),
                        { prompt:'', class:"dialog-select" } %>
        <%= link_to(
          "Add a field",
          fields_page_path(@skill, @intent),
          class: 'addField'
        ) %>
      </td>
      <td>
        is missing  
      </td>
      <td>
      </td>
    </tr>

    <tr>
      <td>
        <%= select_tag 'present-field',
                        options_for_select( @fields ),
                        { prompt:'', class:"dialog-select" } %>
        <%= link_to(
          "Add a field",
          fields_page_path(@skill, @intent),
          class: 'addField'
        ) %>
      </td>
      <td>
        is present  
      </td>
      <td>
        <input class="dialog-input" name='present-value' type='text'>
      </td>
    </tr>
  </table>

  <strong>Awaiting Field</strong>
  <br>
  <%= select_tag 'awaiting-field',
        options_for_select( @fields ),
        { prompt:'', class:"dialog-select" } %>

  <br>
  <button class="btn lg ghost dialog-btn">Create Dialog</button>
  <button class="btn lg ghost export-csv">Export CSV</button>
</form>

<script>
var intent = <%= @intent.to_json.html_safe %>;

$(function() {
  initDialogs();
  initCSVButton();
});
</script>
