<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path(@skill),
  class: "btn md grey"
) %>
<br><br>

<div class="row">
  <div class="col-md-3">
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class="col-md-3">
    <strong>Intent:</strong> <%= @intent.name %>
  </div>
</div>

<br>

<div id='jsGrid'></div>

<div id='mturk-response-field'>
  <%= form_for [ @skill, @intent ] do | f | %>
    Mechanical Turk response field<br>
    <%= f.text_field :mturk_response %>

    <%= f.submit 'Submit', :class=>"btn md black" %><span id='submit-result'></span>
  <% end %>
</div>

<div class='fields'>
  <button class="btn lg ghost json">Create JSON</button>
  <br>
  <div class="json"></div>
</div>

<script>
var skill  = <%= @skill.to_json.html_safe %>;
var intent = <%= @intent.to_json.html_safe %>;

$(function() {
    initFields();
    initJSON();
    initMturkResponse();
});
</script>