<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path(@skill),
  class: "btn md grey"
) %>
<br><br>

<div class="row">
  <div class="col-md-3">
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class="col-md-3">
    <strong>Intent:</strong> <%= @intent.name %>
  </div>
  <div class="col-md-6">
    <strong>Web Hook:</strong> <%= @intent.web_hook %>
  </div>
</div>

<br>

<div id='jsGrid'></div>

<div class='fields'>
  <div><strong>Intent Fields:</strong></div>
  <button class="btn lg ghost json">Create JSON</button>
  <br>
  <div class="json"></div>
</div>

<script>
var intent = <%= @intent.to_json.html_safe %>;

$(function() {
    initFields();
    initJSON();
});
</script>