<%= link_to(
  '&larr; Intents'.html_safe,
  edit_skill_intent_path(@skill, @intent['name']),
  class: 'btn md grey'
) %>
<br><br>

<div class='row'>
  <div class='col-xs-3'>
    <strong>Skill:</strong> <%= @skill.name %>
  </div>
  <div class='col-xs-9'>
    <strong>Intent:</strong> <%= @intent['name'] %>
  </div>
</div>

<div id='jsGrid'></div>
<br>
<%= link_to(
  'Next: Create Dialogs',
  dialogs_page_path( @skill, @intent ),
  class: 'btn lg black pull-right'
) %>

<div id='mturk-response-field'>
  <%= form_tag("/skills/#{@skill.id}/intents/#{@intent['name']}") do %>
    Training Data Response Fields<br>
    <%= text_field_tag :mturk_response, @intent['mturk_response'] %>

    <%= submit_tag 'Submit', class: 'btn md ghost' %><span id='submit-result'></span>
  <% end %>
</div>

<div class='fields'>
  <button class='btn lg ghost json'>Show JSON</button>
  <br>
  <pre><code class='json'></code></pre>
</div>

<script>
var skill  = <%= @skill.to_json.html_safe %>;
var intent = <%= @intent.to_json.html_safe %>;

$(document).on('turbolinks:load', function() {
    initFieldDataTypes();
    initJSON();
    initMturkResponse();
});
</script>
