<%= pluralize @intents.count, 'Intent' %>

<a href='<%= new_skill_intent_path @skill.id %>'>Create new Intent</a>

<table>
<% @intents.each do |i| %>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.description %></td>
    <td><%= link_to( "Edit Details", edit_skill_intent_path( @skill.id, i.id )) %></td>
    <td><%= link_to( "Edit Fields and Dialogs", fields_and_dialogs_path( @skill.id, i.id )) %></td>
  </tr>
<% end %>
</table>
