<% if AppConfig.aneeda? %>
  <%= link_to(
    "&larr; Skills".html_safe,
    skills_path,
    class: 'btn md grey pull-left'
  ) %>
<% end %>

<%= link_to(
  'Create new Intent',
  new_skill_intent_path( @skill.id ),
  class: 'btn md black pull-right'
) %>

<br><br>
<h2>
  Skill: <%= @skill.name %>
  <br>
  <%= pluralize @intents.count, 'Intent' %>
</h2>


<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Locked By</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <% @intents.each do |intent| %>
    <tr>
      <td><%= intent.name %></td>
      <td><%= User.find_by( id: intent.try(:file_lock).try(:user_id) ).try(:email) %></td>
      <td><%= intent.description %></td>
      <td>
        <%= link_to(
          "Edit Details",
          edit_skill_intent_path( @skill.id.to_s, intent.id.to_s ),
          class: 'btn sm black'
        )%>
      </td>
    </tr>
  <% end %>
</table>
<br>
