<h1> Edit <%= @user.email %></h1>

<%= render partial: "form" %>

<% if flash.present? %>
  <div class="notice"><%= flash[:notice] %></div>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= link_to "Delete this user", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>
