<%= @users.count %> Users

<a href='/users/new'>Invite new User</a>

<table>
<% @users.each do |u| %>
  <tr>
    <td><%= u.email %></td>
    <td><%= "admin role_#{ u.admin? }" %></td>
    <td><%= "developer role_#{ u.developer? }" %></td>
    <td><%= link_to( "Edit", edit_user_path(u.id) ) %></td>
  </tr>
<% end %>
</table>

<div class="notice"><%= flash[:notice] %></div>
