Invite User

<%= form_for @user do | f |%>
  Email:<%= f.email_field :email %>
  <%= f.check_box :role_admin %>Admin
  <%= f.check_box :role_developer %>Developer
  <%= f.submit 'Submit' %>
<% end %>

<div class="alert"><%= flash[:alert] %></div>