<%= pluralize @skills.count, 'Skill' %>

<a href='/skills/new'>Create new Skill</a>

<table>
<% @skills.each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td><%= link_to( "Edit", edit_skill_path( s.id )) %></td>
  </tr>
<% end %>
</table>

<div class="alert"><%= flash[:alert] %></div>
<div class="notice"><%= flash[:notice] %></div>
