<h2>
  <%= pluralize @skills.count, 'Skill' %>
  <a href='/skills/new' class="btn md black pull-right">Create New Skill</a>
</h2>
<br>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Web Hook</th>
      <th>Edit Skill</th>
      <th>Intents</th>
      <th>Your Role(s)</th>
    </tr>
  </thead>
  <% @skills.each do |s| %>
    <tbody>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.web_hook %></td>
        <td><%= link_to( "Edit", edit_skill_path( s.id )) %></td>
        <td><%= link_to( "Intents", skill_intents_path( s.id )) %></td>
        <td>
          <% roles_for_skill( s ).each do |s| %>
            <code><%= s %></code>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
