<div class='nlu-query'>
  <h2>NLU Query</h2>

  <%= form_for(
    'nlu.iamplus.com:8080/query',
    method: :get
  ) do %>
    <%= text_field_tag :nlu_query, nil, class: 'form-control' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right' %>
    <br>
  <% end %>
</div>

<br>
<div class='news-retrieve'>
  <h2>News Skill (Retrieve)</h2>

  <%= form_for(
    'iamplus-skills-news.herokuapp.com/retrieve',
    method: :post
  ) do %>
    <%= text_area_tag :news_skill_retrieve, nil, class: 'form-control' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right news-skill-retrieve' %>
    <br>
  <% end %>
</div>
<br>
<div class='news-format'>
  <h2>News Skill (Format)</h2>

  <%= form_for(
    'iamplus-skills-news.herokuapp.com/format',
    method: :post
  ) do %>
    <%= text_area_tag :news_skill_format, nil, class: 'form-control' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right news-skill-format' %>
    <br>
  <% end %>
</div>

<div class='fields'>
  <pre>
    <code class='json'>
      <%= @response %>
    </code>
  </pre>
</div>

<script>
hljs.initHighlightingOnLoad();

$('.news-skill-format').click(function(e){
  e.preventDefault();

  $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/skills/news-skill-format',
      data: $('#news_skill_format').serialize()
  }).done(function(r){
    console.log(r);
      $('.json').html(r['response']);
  });
});

$('.news-skill-retrieve').click(function(e){
  e.preventDefault();

  $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/skills/news-skill-retrieve',
      data: $('#news_skill_retrieve').serialize()
  }).done(function(r){
    console.log(r);
      $('.json').html(r['response']);
  });
});
</script>
