<h1>NLU Training</h1>
<h4>Last Job:</h4>
<br>
<div class='nluTraining'>
  <p>Name: <%= @last_build['fullDisplayName'] %></p>
  <p>
    Result:
    <span class='<%= class_for_build( @last_build['result'] ) %>'>
      <%= @last_build['result'] %>
    </span>
  </p>
  <p>Time: <%= Time.at(@last_build['timestamp'].to_i / 1000) %></p>
  <p>Jenkins Link: <%= link_to @last_build['url'] %></p>
</div>

