<%= form_tag do %>
  <h4>Choose an Intent</h4>
  <%= select_tag(
    'intents',
    options_for_select(
      [
        ['', ''],
        ['play_music', 'Play Hello by Adele.'],
        ['news_search', "What's the news on Trump?"]
      ],
      'play_music'
    ),
    onchange: 'fillWrapperQuery()'
  ) %>
<% end %>

<div class='wrapper-query'>
  <h4>Wrapper Query</h4>

  <%= form_tag '/wrapper-query' do %>
    <%= text_field_tag :wrapper_query, nil, class: 'form-control text-input' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='nlu-query'>
  <h4>NLU Query</h4>

  <%= form_tag '/nlu-query' do %>
    <%= text_field_tag :nlu_query, nil, class: 'form-control text-input' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='collapse skills-fields'>
  <div class='skill-retrieve'>
    <h4>Skill (Retrieve)</h4>

    <%= form_tag '/skill-retrieve' do %>
      <%= hidden_field_tag :skill_retrieve_url, nil, class: 'skill-url' %>
      <%= text_area_tag(
        :skill_retrieve,
        nil,
        class: 'form-control text-input'
      ) %>
      <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
    <% end %>
    <br>
    <%= render partial: 'query_response' %>
  </div>

  <div class='skill-format'>
    <h4>Skill (Format)</h4>

    <%= form_tag '/skill-format' do %>
    <%= hidden_field_tag :skill_format_url, nil, class: 'skill-url' %>
      <%= text_area_tag(
        :skill_format,
        nil,
        class: 'form-control text-input'
      ) %>
      <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
    <% end %>
    <br>
    <%= render partial: 'query_response' %>
  </div>
</div>


<script>
$('.test-btn').click(function(e){
    e.preventDefault();
    IAM.loading.start({ type:'logo', duration: false });

    var intent = $('#wrapper_query').val();
    $('#nlu_query').val(intent);

    var action = $(this).closest('form').attr('action');
    var inputText = $(this).siblings('.text-input');

    if ($(this).parents('.skills-fields').length > 0) {
      var data = inputText.val();
    } else {
      var data = {};
      data[inputText.attr('name')] = inputText.val();
      data = JSON.stringify( data );
    }

    $.ajax({
        type: 'POST',
        dataType: 'json',
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            'Content-Type': 'application/json',
            'X-Skill-Url':  $(this).siblings('.skill-url').val()
        },
        url:  action,
        data: data
    }).done(function(r){
       $('.iam-loading').each(function(){
            IAM.loading.stop({id: $(this).attr('rel')});
        });
        var this_div = $(this).closest('div');

        this_div.find('.server-time').html( r['time'] );
        this_div.find('.title').html(this_div.find('h4').html());
        this_div.find('.notes').addClass('in');
        this_div.find('.json').html(r['response']);

        // Highlight the code.
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });

        if ( action === '/nlu-query' || action === '/skill-retrieve'){
            $('.skills-fields').addClass('in');
            getIntentList(r['response'], action);
        }
    }.bind(this)).fail(function(){
       $('.iam-loading').each(function(){
            IAM.loading.stop({id: $(this).attr('rel')});
        });
    });
});

function getIntentList(response, action){
    $.ajax({
        type: 'POST',
        dataType: 'json',
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        url: '/intents-list',
        data: null
    }).done(response, action, function(intents){
        if ( action === '/nlu-query'){
            window.intent = JSON.parse( response )['intent'];
            window.mentions = JSON.parse( response )['mentions'];
            var skillUrl = JSON.parse( intents['response'] )[intent].split('.com')[0];

            var retrieveJSON = {};
            retrieveJSON['nlu_response'] = {};
            retrieveJSON['nlu_response']['intent']   = intent;
            retrieveJSON['nlu_response']['mentions'] = mentions;

            $('#skill_retrieve').val( JSON.stringify( retrieveJSON, null, 2 ) );
            $('#skill_retrieve_url').val( skillUrl + '.com/retrieve');
            $('#skill_format_url').val( skillUrl + '.com/format');
        } else if ( action === '/skill-retrieve' ){
            var formatJSON = {};
            formatJSON['nlu_response'] = {};
            formatJSON['nlu_response']['intent'] = intent;
            formatJSON['nlu_response']['mentions'] = mentions;

            $('#skill_format').val( JSON.stringify( formatJSON, null, 2 ) );
        }
    });
}
</script>
