<div class='wrapper-query'>
  <h4>Wrapper Query</h4>

  <%= form_tag '/wrapper-query' do %>
    <%= text_field_tag :wrapper_query, nil, class: 'form-control text-input' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='nlu-query'>
  <h4>NLU Query</h4>

  <%= form_tag '/nlu-query' do %>
    <%= text_field_tag :nlu_query, nil, class: 'form-control text-input' %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='news-retrieve'>
  <h4>News Skill (Retrieve)</h4>

  <%= form_tag '/skills/news-skill-retrieve' do %>
    <%= text_area_tag(
      :news_skill_retrieve,
      File.read('app/views/test_data/news_skill_retrieve.json'),
      class: 'form-control text-input'
    ) %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='news-format'>
  <h4>News Skill (Format)</h4>

  <%= form_tag '/skills/news-skill-format' do %>
    <%= text_area_tag(
      :news_skill_format,
      File.read('app/views/test_data/news_skill_format.json'),
      class: 'form-control text-input'
    ) %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='music-retrieve'>
  <h4>Music Skill (Retrieve)</h4>

  <%= form_tag '/skills/music-skill-retrieve' do %>
    <%= text_area_tag(
      :music_skill_retrieve,
      File.read('app/views/test_data/music_skill_retrieve.json'),
      class: 'form-control text-input'
    ) %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<div class='music-format'>
  <h4>Music Skill (Format)</h4>

  <%= form_tag '/skills/music-skill-format' do %>
    <%= text_area_tag(
      :music_skill_format,
      File.read('app/views/test_data/music_skill_format.json'),
      class: 'form-control text-input'
    ) %>
    <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
  <% end %>
  <br>
  <%= render partial: 'query_response' %>
</div>

<script>
$('.test-btn').click(function(e){
    e.preventDefault();

    IAM.loading.start({
        type:'logo',
        duration: false
    });

    $.ajax({
        type: 'POST',
        dataType: 'json',
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        url:  $(this).closest('form').attr('action'),
        data: $(this).siblings('.text-input').serialize()
    }).done(function(r){
       $('.iam-loading').each(function(){
            var loader_id = $(this).attr('rel');
            IAM.loading.stop({id:loader_id});
        });
        var this_div = $(this).closest('div');
        var title = this_div.find('h4').html();

        this_div.find('.server-time').html( r['time'] );
        this_div.find('.title').html(title);
        this_div.find('.notes').addClass('in');
        this_div.find('.json').html(r['response']);

        // Highlight the code.
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    }.bind(this));
});
</script>
