<div class='section'>
  <%= form_tag do %>
    <h4>Choose an Environment</h4>
    <%= select_tag(
      'intent_list_url',
      options_for_select([
        ['production', 'production'],
        ['de-production', 'de-production'],
        ['staging', 'staging'],
        ['development', 'development']
      ]),
      onchange: 'clearForms()'
    ) %>
  <% end %>
</div>

<div class='section'>
  <%= form_tag do %>
    <h4>Choose a Skill</h4>
    <%= select_tag(
      'intents',
      options_for_select([
        ['', ''],
        ['Calendar', 'Schedule me for a haircut at 1PM tomorrow.' ],
        ['Concerts', "When is Adele's next concert?"],
        ['Movies', 'Who stars in The Force Awakens?'],
        ['Music', 'Play Hello by Adele.'],
        ['News', "What's the news on Trump?"],
        ['Sports', 'What was The Broncos record in 2015?'],
        ['Tansport', 'Get me an Uber to LAX.'],
        ['TV', 'Tell me about The Big Bang Theory.'],
        ['Weather', "What's the weather in Los Angeles?"],
        ['Yelp', 'Find sushi restaurants in Los Angeles.' ]
      ]),
      onchange: 'fillWrapperQueryAndClearPrevious()'
    ) %>
  <% end %>
</div>

<div class='wrapper-query row section'>
  <div class='col-xs-12'>
    <h4>Wrapper Query</h4>

    <%= form_tag '/api/wrapper-query' do %>
      <%= text_field_tag :wrapper_query, nil, class: 'form-control pull-left text-input' %>
      <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
    <% end %>
    <br>
    <%= render partial: 'query_response' %>
  </div>
</div>

<div class='nlu-query row section'>
  <div class='col-xs-12'>
    <h4>NLU Query (includes skill retrieve call)</h4>

    <%= form_tag '/api/nlu-query' do %>
      <%= text_field_tag :nlu_query, nil, class: 'form-control pull-left text-input' %>
      <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
    <% end %>
    <br>
    <%= render partial: 'query_response' %>
  </div>
</div>

<div class='skill-retrieve skill collapse section'>
  <h4>Skill (Retrieve)</h4>
  <div class='row'>
    <%= form_tag '/api/skill-retrieve' do %>
      <div class='col-md-9'>
        <%= hidden_field_tag :skill_retrieve_url, nil, class: 'skill-url' %>
        <%= text_area_tag(
          :skill_retrieve,
          nil,
          class: 'form-control text-input'
        ) %>
      </div>
      <div class='col-md-3'>
        <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= render partial: 'query_response' %>
    </div>
  </div>
</div>

<div class='skill-format skill collapse section'>
  <h4>Skill (Format)</h4>
  <div class='row'>
    <%= form_tag '/api/skill-format' do %>
      <div class='col-md-9'>
        <%= hidden_field_tag :skill_format_url, nil, class: 'skill-url' %>
        <%= text_area_tag(
          :skill_format,
          nil,
          class: 'form-control text-input'
        ) %>
      </div>
      <div class='col-md-3'>
        <%= submit_tag 'Test', class: 'btn lg black pull-right test-btn' %>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= render partial: 'query_response' %>
    </div>
  </div>
</div>


<script>
$('.test-btn').click(function(e){
    e.preventDefault();
    IAM.loading.start({ type:'logo', duration: false });

    var action = $(this).closest('form').attr('action');
    var inputText = $(this).closest('.row').find('.text-input');

    if (action === '/api/wrapper-query' || action === '/api/nlu-query'){
        if ( window.lastQuery !== undefined && window.lastQuery !== inputText.val() ){
            $(this).closest('.section').nextAll('.section').each(function(i, block){
                $(this).find('.notes').removeClass('in');
                $(this).find('.json').html( '' );
                $(this).find('.text-input').val( '' );

                window.lastQuery = inputText.val();
            });

            if ( action === '/api/wrapper-query' ){
                $('#nlu_query').val(window.lastQuery);
            } else {
                $('#wrapper_query').val( window.lastQuery );
                $('#wrapper_query').closest('div').find('.notes').removeClass('in');
                $('#wrapper_query').closest('div').find('.json').html( '' );
            }
        } else {
            window.lastQuery = $('#wrapper_query').val();
            $('#nlu_query').val(window.lastQuery);
        }
    }

    if ($(this).parents('.skill').length > 0) {
        var data = inputText.val();
    } else {
        var data = {};
        data[inputText.attr('name')] = inputText.val();
        data = JSON.stringify( data );
    }

    $.ajax({
        type: 'POST',
        dataType: 'json',
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            'Content-Type': 'application/json',
            'X-Skill-Url':  $(this).parents('.row').find('.skill-url').val(),
            'X-Test-Env':   $('#intent_list_url').val()
        },
        url:  action,
        data: data
    }).done(function(r){
        var thisSection = $(this).closest('.section');
        stopLoadingAndReportNotes(r, thisSection);

        // Highlight the code.
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });

        if ( action === '/api/nlu-query' || action === '/api/skill-retrieve'){
            $('.skill').addClass('in');
            getIntentList(r['response'], action);
        }
    }.bind(this)).fail(function(r){
        var thisSection = $(this).closest('.section');
        stopLoadingAndReportNotes(r, thisSection);
    });
});

function getIntentList(response, action){
    $.ajax({
        type: 'POST',
        dataType: 'json',
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        url: '/api/intents-list',
        data: $('#intent_list_url').serialize()
    }).done(response, action, function(intents){
        if ( action === '/api/nlu-query'){
            window.intent = JSON.parse( response )['intent'];
            window.mentions = JSON.parse( response )['mentions'];
            var skillUrl = JSON.parse( intents['response'] )[intent].split('.com')[0];

            var retrieveJSON = {};
            retrieveJSON['nlu_response'] = {};
            retrieveJSON['nlu_response']['intent']   = intent;
            retrieveJSON['nlu_response']['mentions'] = mentions;

            $('#skill_retrieve').val( JSON.stringify( retrieveJSON, null, 2 ) );
            $('#skill_retrieve_url').val( skillUrl + '.com/retrieve');
            $('#skill_format_url').val( skillUrl + '.com/format');
        } else if ( action === '/api/skill-retrieve' ){
            var formatJSON = {};
            formatJSON['nlu_response'] = {};
            formatJSON['nlu_response']['intent'] = intent;
            formatJSON['nlu_response']['mentions'] = mentions;

            $('#skill_format').val( JSON.stringify( formatJSON, null, 2 ) );
        }
    });
}

function stopLoadingAndReportNotes(r, section){
    $('.iam-loading').each(function(){
        IAM.loading.stop({id: $(this).attr('rel')});
    });

    section.find('.json').text(r['response']);
    section.find('.server-time').text( r['time'] );
    section.find('.url-used').text( r['url'] );
    section.find('.notes').addClass('in');
}
</script>
