<h1>Approve Release Candidate</h1>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3>NLU Training</h3>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="pull-right">
      <h3 class="state-font-<%= style_for_release_state(@release.state) %>">
        <%= @release.state %>
      </h3>
    </div>
  </div>
</div>

<h4>Last Job:</h4>
<br>
<div class='nluTraining'>
  <p>Name: <%= @build_output['fullDisplayName'] %></p>
  <p>
    Result:
    <span class='<%= class_for_build( @build_output['result'] ) %>'>
      <%= @build_output['result'] %>
    </span>
  </p>
  <p>Time: <%= Time.at(@build_output['timestamp'].to_i / 1000) %></p>
</div>
<div class='console-text'>
  <%= @build_output[ 'console_text' ] %>
</div>
<hr>
<h3>Diff</h3>
<%= render partial: '/releases/diff' %>

<div class="text-center">
  <%= form_tag '/releases/approval_or_rejection' do %>
    <%= hidden_field_tag 'release_id', @release_id %>

    <% if @release.state == 'in_training' %>
      <%= submit_tag 'Accept', class: "btn xl green-accept" %>
      <%= submit_tag 'Reject', class: "btn xl red" %>
    <% end %>
  <% end %>
</div>

<script>
  $(document).on('turbolinks:load', function(){
    setTimeout(function(){
      window.location.reload();
    }, 15000);
  });
</script>
