<h1>Approve Release Candidate</h1>

<h3>NLU Training</h3>
<h4>Last Job:</h4>
<br>
<div class='nluTraining'>
  <p>Name: Eliza CMS Test Training</p>
  <p>
    Result:
    <span class='success'>
      Success
    </span>
  </p>
  <p>Time: <%= Time.at(Time.now.to_i) %></p>
  <p>Jenkins Link: <%= link_to "http://jenkins.iamplus.xyz/job/eliza-cms-training/10" %></p>
</div>
<hr>
<h3>Diff</h3>
<%= render partial: '/releases/diff' %>

<div class="text-center">
  <%= form_tag '/releases/approval_or_rejection' do %>
    <%= hidden_field_tag 'release_id', @release_id %>
    <%= submit_tag 'Accept', class: "btn xl" %>
    <%= submit_tag 'Reject', class: "btn xl red" %>
  <% end %>
</div>
