<h1>Release New</h1>

<div>
  <%= @diff[:filename] %>
</div>
<div class="flex-container">
  <div class="flex-column ">
    <%= raw diff.left %>
  </div>
  <div class="flex-column ">
    <%= raw diff.right %>
  </div>
</div>

<hr>
<div class="text-center">
  <%= form_tag '/releases' do %>
    <b>Commit Message:</b>
    <br>
    <%= text_area_tag :message %>
    <br>
    <%= submit_tag 'Create Release', class: "btn xxl" %>
  <% end %>
</div>
