<h1>Release New</h1>


<% @diff.each do |d| %>
  <div>
    <%= d[:filename] %>
  </div>
  <div class="flex-container">
    <div class="flex-column pink">
      <%= raw diff_format( d ).left %>
    </div>
    <div class="flex-column green">
      <%= raw diff_format( d ).right %>
    </div>
  </div>
  </br>
<% end %>

<hr>
<div class="text-center">
  <%= form_tag '/releases' do %>
    <b>Commit Message:</b>
    <br>
    <%= text_area_tag :message %>
    <br>
    <%= submit_tag 'Create Release', class: "btn xxl" %>
  <% end %>
</div>
