<nav class="navbar">
  <div class="container">
    <a
      id="logo"
      class="clearfix"
      href="<%= AppConfig.eliza? ? skill_intents_path(skill_id: Skill.first) : skills_path %>"
      title="i.am+"
    >
      <div class="icon-pyramid pull-left"></div>
      <div class="txt pull-left">
        <%= ENV['NEW_RELIC_APP_NAME'].gsub('_', ' ') %>
      </div>
    </a>

    <div id="desktop-menu" class="nav navbar-nav pull-right">
      <% if @current_user %>
        <% if @current_user.has_role?( 'admin' ) %>
          <%= link_to 'Admin', users_path %>
          <%= link_to 'Owners', owners_path %>
        <% end %>

        <% if @current_user.is_a_skill_owner? %>
          <%= link_to 'Developers', users_developers_path %>
        <% end %>

        <%= link_to 'Releases', releases_path %>

        <%= link_to 'Entities', field_data_types_path %>

        <%= link_to 'Single Word', single_word_rules_landing_path %>

        <% if AppConfig.eliza? %>
          <%= link_to 'Intents', skill_intents_path(skill_id: Skill.first) %>
        <% else %>
          <%= link_to 'Skills', skills_path %>
        <% end %>

        <% if AppConfig.faq_enabled? %>
          <%= link_to 'FAQs', faqs_path %>
        <% end %>

        <div id="regularLogout" class="dropdown pull-right">
          <a id="userMenu" class="navlink dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown">
            <span class="icon-contacts"></span>
            <span class="txt"><%= @current_user.email.split("@")[0] %></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="userMenu">
            <li><%= link_to 'Logout', '/logout', method: :post %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
